/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Dyn-*

.tidyall.d/
*.gz
*.zip
eg/sdl.pl
eg/scratch.pl
eg/undef.pl
extract/
src/
temp/

eg/attrs.pl
eg/libtest.cpp
eg/libtest.so
eg/sin.pl
lib/Dyn/Sugar.pm
object_pad.h
